# ML-diagnosis-of-esophageal-cancer
## Data Cleaning & Preprocessing Notebook
Author: Robert Franklin
Date: 2023-03-09

In [ ]:
# Dependencies & Installs
import pandas as pd
# pip install xlrd
# pip install openpyxl

In [ ]:
# Extract Data and Convert to Dataframe
file_path = "RAW data 2cohorts_QIMR.xlsx"
CB_raw = pd.read_excel(file_path, sheet_name='Protein Intensity_CBcohort', engine='openpyxl')
print(CB_raw.head())
# Extract Data and Convert to Dataframe
file_path = "RAW data 2cohorts_QIMR.xlsx"
PN_raw = pd.read_excel(file_path, sheet_name='Protein Intensity_PNcohort', engine='openpyxl')
print(PN_raw.head())

  Unnamed: 0 Patient Group    O75636_AAL     O95445_AAL     P00450_AAL  \
0    CB10001           EAC  2.499187e+06  231901.565681  531675.915634
1    CB10002         BE-ID  2.828146e+06  225768.925899  392680.876091
2    CB10003           NSE  3.885362e+06  317408.869810  624661.826663
3    CB10004            BE  2.980757e+06  196448.722270  383654.430349
4    CB10006            BE  5.082784e+06  513410.263339  665023.074428

      P00734_AAL    P00736_AAL    P00738_AAL    P00747_AAL    P00748_AAL  ...  \
0  130229.593177  4.574278e+07  7.427876e+07  1.399114e+06  62766.439036  ...
1  147433.340040  4.629934e+07  3.240003e+07  1.193564e+06  56995.901230  ...
2  166048.185854  5.879864e+07  3.151861e+07  2.006994e+06  66677.865179  ...
3   81930.599409  4.418331e+07  1.274380e+07  1.121787e+06  47417.392161  ...
4  168785.312885  8.292568e+07  3.314564e+07  2.811941e+06  96794.597616  ...

        Race  BMI (kg/m2)  On Acid Supp Regimen?  Collected Date  \
0  Caucasian        31.46                      Y      2015-06-03
1  Caucasian        41.40                      Y      2014-12-10
2  Caucasian        30.04                      Y      2014-12-05
3  Caucasian        30.26                      Y      2015-01-19
4  Caucasian        30.40                      Y      2015-04-06

                               Treatment Type & Date  Treatment naïve  \
0  No Txmt w/Ochsner; Stented Prior to Coming to ...              Yes
1  Cryo (12/10/2014); RFA (4/29/2014, 12/4/2013, ...               No
2  Cryo (9/23/2015); RFA (3/6/2015, 12/5/2014, 10...               No
3  Cryo (6/19/2015); RFA (4/20/2015, 2/23/2015, 1...               No
4  Cryo (9/23/2015); RFA (4/6/2015, 1/21/2015, 10...               No

                                      Comment  \
0       Underwent surgery unrelated to BE/EAC
1  Received treatment before blood collection
2  Received treatment before blood collection
3  Received treatment before blood collection
4  Received treatment before blood collection

   Dx (Per Path); highest recorded  \
0                   Adenocarcinoma
1                         BE w/LGD
2                             NDBE
3                             NDBE
4                         BE w/HGD

          Diagnosis When Sample Was Taken (Per Path)  \
0                                     Adenocarcinoma
1  Intestinal Metaplasia; Limited Interpretation ...
2  Chronic Inflammation; No Specialized Epitheliu...
3  Intestinal Metaplasia; No Dysplasia (Non-Dyspl...
4  Intestinal Metaplasia; No Dysplasia (Non-Dyspl...

                                       Comorbidities
0                                    DM Type II, HTN
1               Thyroid Disease, Bipolar, GERD, COPD
2  Arthritis, Asthma, Obesity, HTN, Thyroid Nodul...
3              HTN, Hiatal Hernia, Allergic Rhinitis
4                                  HTN, Pancreatitis

[5 rows x 395 columns]
       PNUM Patient Group   O95445_AAL    P00450_AAL   P00734_AAL  \
0  PN200001        BE-LGD  190246.4723  7.317908e+05  51185.55315
1  PN200003           NSE  259245.1390  7.293372e+05  59015.99648
2  PN200009           NSE  273950.2686  1.194245e+06  53057.44721
3  PN200011           NSE  244905.6119  5.196989e+05  42486.90198
4  PN200013           NSE  195586.6921  7.335216e+05  47653.01778

     P00736_AAL    P00738_AAL   P00747_AAL   P00748_AAL   P00751_AAL  ...  \
0   99026.39829  1.751137e+07  1281657.844  146252.4045  424532.4302  ...
1  108490.75600  1.669671e+07  1356981.217  147436.0885  449091.9729  ...
2  116871.92760  2.430648e+07  1766197.287  141270.2367  669375.7039  ...
3   84692.25676  8.280827e+06  1678822.721  154037.0915  335592.4104  ...
4  128893.72750  5.152638e+06  1384867.187  163628.0357  494356.7660  ...

   Normalized Protein (μg/μL)  gender  consentdate       collectiondate  \
0                   79.431861       M   2009-11-25  2009-11-25 00:00:00
1                   76.910367       M   2009-05-13  2009-05-13 00:00:00
2                   69.476569       F   2009-06-17  2009-06-17 00:00:00
3                   73.803303       F   2009-06-17  2009-06-17 00:00:00
4                   81.800468       M   2009-07-01  2009-07-01 00:00:00

   City of collection    Hospital collected  agecollect  height  weight   bmi
0              Sydney    St Vincents Clinic          64     NaN     NaN   NaN
1              Sydney    St Vincents Clinic          57   178.0    94.4  29.8
2              Sydney  St Vincents Hospital          38   162.0   118.0  45.0
3              Sydney    St Vincents Clinic          56   165.0    62.0  22.8
4              Sydney  St Vincents Hospital          71   161.0    95.0  36.6

[5 rows x 306 columns]

In [ ]:
CB_raw.head()

,Unnamed: 0,Patient Group,O75636_AAL,O95445_AAL,P00450_AAL,P00734_AAL,P00736_AAL,P00738_AAL,P00747_AAL,P00748_AAL,...,Race,BMI (kg/m2),On Acid Supp Regimen?,Collected Date,Treatment Type & Date,Treatment naïve,Comment,Dx (Per Path); highest recorded,Diagnosis When Sample Was Taken (Per Path),Comorbidities
0,CB10001,EAC,2.499187e+06,231901.565681,531675.915634,130229.593177,4.574278e+07,7.427876e+07,1.399114e+06,62766.439036,...,Caucasian,31.46,Y,2015-06-03,No Txmt w/Ochsner; Stented Prior to Coming to ...,Yes,Underwent surgery unrelated to BE/EAC,Adenocarcinoma,Adenocarcinoma,"DM Type II, HTN"
1,CB10002,BE-ID,2.828146e+06,225768.925899,392680.876091,147433.340040,4.629934e+07,3.240003e+07,1.193564e+06,56995.901230,...,Caucasian,41.40,Y,2014-12-10,"Cryo (12/10/2014); RFA (4/29/2014, 12/4/2013, ...",No,Received treatment before blood collection,BE w/LGD,Intestinal Metaplasia; Limited Interpretation ...,"Thyroid Disease, Bipolar, GERD, COPD"
2,CB10003,NSE,3.885362e+06,317408.869810,624661.826663,166048.185854,5.879864e+07,3.151861e+07,2.006994e+06,66677.865179,...,Caucasian,30.04,Y,2014-12-05,"Cryo (9/23/2015); RFA (3/6/2015, 12/5/2014, 10...",No,Received treatment before blood collection,NDBE,Chronic Inflammation; No Specialized Epitheliu...,"Arthritis, Asthma, Obesity, HTN, Thyroid Nodul..."
3,CB10004,BE,2.980757e+06,196448.722270,383654.430349,81930.599409,4.418331e+07,1.274380e+07,1.121787e+06,47417.392161,...,Caucasian,30.26,Y,2015-01-19,"Cryo (6/19/2015); RFA (4/20/2015, 2/23/2015, 1...",No,Received treatment before blood collection,NDBE,Intestinal Metaplasia; No Dysplasia (Non-Dyspl...,"HTN, Hiatal Hernia, Allergic Rhinitis"
4,CB10006,BE,5.082784e+06,513410.263339,665023.074428,168785.312885,8.292568e+07,3.314564e+07,2.811941e+06,96794.597616,...,Caucasian,30.40,Y,2015-04-06,"Cryo (9/23/2015); RFA (4/6/2015, 1/21/2015, 10...",No,Received treatment before blood collection,BE w/HGD,Intestinal Metaplasia; No Dysplasia (Non-Dyspl...,"HTN, Pancreatitis"

In [ ]:
PN_raw.head()

,PNUM,Patient Group,O95445_AAL,P00450_AAL,P00734_AAL,P00736_AAL,P00738_AAL,P00747_AAL,P00748_AAL,P00751_AAL,...,Normalized Protein (μg/μL),gender,consentdate,collectiondate,City of collection,Hospital collected,agecollect,height,weight,bmi
0,PN200001,BE-LGD,190246.4723,7.317908e+05,51185.55315,99026.39829,1.751137e+07,1281657.844,146252.4045,424532.4302,...,79.431861,M,2009-11-25,2009-11-25 00:00:00,Sydney,St Vincents Clinic,64,NaN,NaN,NaN
1,PN200003,NSE,259245.1390,7.293372e+05,59015.99648,108490.75600,1.669671e+07,1356981.217,147436.0885,449091.9729,...,76.910367,M,2009-05-13,2009-05-13 00:00:00,Sydney,St Vincents Clinic,57,178.0,94.4,29.8
2,PN200009,NSE,273950.2686,1.194245e+06,53057.44721,116871.92760,2.430648e+07,1766197.287,141270.2367,669375.7039,...,69.476569,F,2009-06-17,2009-06-17 00:00:00,Sydney,St Vincents Hospital,38,162.0,118.0,45.0
3,PN200011,NSE,244905.6119,5.196989e+05,42486.90198,84692.25676,8.280827e+06,1678822.721,154037.0915,335592.4104,...,73.803303,F,2009-06-17,2009-06-17 00:00:00,Sydney,St Vincents Clinic,56,165.0,62.0,22.8
4,PN200013,NSE,195586.6921,7.335216e+05,47653.01778,128893.72750,5.152638e+06,1384867.187,163628.0357,494356.7660,...,81.800468,M,2009-07-01,2009-07-01 00:00:00,Sydney,St Vincents Hospital,71,161.0,95.0,36.6

In [ ]:
CB_raw = CB_raw.rename(columns={'unnamed:0': 'ID'})
CB_raw.head()

,Unnamed: 0,Patient Group,O75636_AAL,O95445_AAL,P00450_AAL,P00734_AAL,P00736_AAL,P00738_AAL,P00747_AAL,P00748_AAL,...,Race,BMI (kg/m2),On Acid Supp Regimen?,Collected Date,Treatment Type & Date,Treatment naïve,Comment,Dx (Per Path); highest recorded,Diagnosis When Sample Was Taken (Per Path),Comorbidities
0,CB10001,EAC,2.499187e+06,231901.565681,531675.915634,130229.593177,4.574278e+07,7.427876e+07,1.399114e+06,62766.439036,...,Caucasian,31.46,Y,2015-06-03,No Txmt w/Ochsner; Stented Prior to Coming to ...,Yes,Underwent surgery unrelated to BE/EAC,Adenocarcinoma,Adenocarcinoma,"DM Type II, HTN"
1,CB10002,BE-ID,2.828146e+06,225768.925899,392680.876091,147433.340040,4.629934e+07,3.240003e+07,1.193564e+06,56995.901230,...,Caucasian,41.40,Y,2014-12-10,"Cryo (12/10/2014); RFA (4/29/2014, 12/4/2013, ...",No,Received treatment before blood collection,BE w/LGD,Intestinal Metaplasia; Limited Interpretation ...,"Thyroid Disease, Bipolar, GERD, COPD"
2,CB10003,NSE,3.885362e+06,317408.869810,624661.826663,166048.185854,5.879864e+07,3.151861e+07,2.006994e+06,66677.865179,...,Caucasian,30.04,Y,2014-12-05,"Cryo (9/23/2015); RFA (3/6/2015, 12/5/2014, 10...",No,Received treatment before blood collection,NDBE,Chronic Inflammation; No Specialized Epitheliu...,"Arthritis, Asthma, Obesity, HTN, Thyroid Nodul..."
3,CB10004,BE,2.980757e+06,196448.722270,383654.430349,81930.599409,4.418331e+07,1.274380e+07,1.121787e+06,47417.392161,...,Caucasian,30.26,Y,2015-01-19,"Cryo (6/19/2015); RFA (4/20/2015, 2/23/2015, 1...",No,Received treatment before blood collection,NDBE,Intestinal Metaplasia; No Dysplasia (Non-Dyspl...,"HTN, Hiatal Hernia, Allergic Rhinitis"
4,CB10006,BE,5.082784e+06,513410.263339,665023.074428,168785.312885,8.292568e+07,3.314564e+07,2.811941e+06,96794.597616,...,Caucasian,30.40,Y,2015-04-06,"Cryo (9/23/2015); RFA (4/6/2015, 1/21/2015, 10...",No,Received treatment before blood collection,BE w/HGD,Intestinal Metaplasia; No Dysplasia (Non-Dyspl...,"HTN, Pancreatitis"

In [ ]:
PN_raw.dtypes

PNUM                   object
Patient Group          object
O95445_AAL            float64
P00450_AAL            float64
P00734_AAL            float64
                       ...
Hospital collected     object
agecollect              int64
height                float64
weight                float64
bmi                   float64
Length: 306, dtype: object

In [ ]:
PN_raw = PN_raw.rename(columns={'agecollect': 'Age at Collection', 'bmi': 'BMI (kg/m2)','Normalized Protein (μg/μL)':'Protein (μg/μL)'})

In [ ]:
PN_raw.head()

,PNUM,Patient Group,O95445_AAL,P00450_AAL,P00734_AAL,P00736_AAL,P00738_AAL,P00747_AAL,P00748_AAL,P00751_AAL,...,Protein (μg/μL),gender,consentdate,collectiondate,City of collection,Hospital collected,Age at Collection,height,weight,BMI (kg/m2)
0,PN200001,BE-LGD,190246.4723,7.317908e+05,51185.55315,99026.39829,1.751137e+07,1281657.844,146252.4045,424532.4302,...,79.431861,M,2009-11-25,2009-11-25 00:00:00,Sydney,St Vincents Clinic,64,NaN,NaN,NaN
1,PN200003,NSE,259245.1390,7.293372e+05,59015.99648,108490.75600,1.669671e+07,1356981.217,147436.0885,449091.9729,...,76.910367,M,2009-05-13,2009-05-13 00:00:00,Sydney,St Vincents Clinic,57,178.0,94.4,29.8
2,PN200009,NSE,273950.2686,1.194245e+06,53057.44721,116871.92760,2.430648e+07,1766197.287,141270.2367,669375.7039,...,69.476569,F,2009-06-17,2009-06-17 00:00:00,Sydney,St Vincents Hospital,38,162.0,118.0,45.0
3,PN200011,NSE,244905.6119,5.196989e+05,42486.90198,84692.25676,8.280827e+06,1678822.721,154037.0915,335592.4104,...,73.803303,F,2009-06-17,2009-06-17 00:00:00,Sydney,St Vincents Clinic,56,165.0,62.0,22.8
4,PN200013,NSE,195586.6921,7.335216e+05,47653.01778,128893.72750,5.152638e+06,1384867.187,163628.0357,494356.7660,...,81.800468,M,2009-07-01,2009-07-01 00:00:00,Sydney,St Vincents Hospital,71,161.0,95.0,36.6

In [ ]:
common_cols = set(CB_raw.columns).intersection(PN_raw.columns)
diff_cols = set(CB_raw.columns).difference(PN_raw.columns).union(set(PN_raw.columns).difference(CB_raw.columns))
print("Different columns: ", diff_cols)

Different columns:  {'P00736_EPHA', 'P02745_NPL', 'P05090_AAL', 'P08185_NPL', 'height', 'P32119_AAL', 'P02679_AAL', 'Q5T011_AAL', 'Q5T011_NPL', 'P02675_JAC', 'P55058_AAL', 'P33981_NPL', 'P04275_EPHA', 'P01012_EPHA', 'P12259_EPHA', 'Comorbidities', 'Unnamed: 0', 'P07996_NPL', 'P07996_AAL', 'P29622_NPL', 'Q5T011_EPHA', 'P32119_EPHA', 'P01012_NPL', 'P02741_EPHA', 'P08697_NPL', 'P02741_NPL', 'P19652_AAL', 'Q16610_JAC', 'P02671_AAL', 'P02760_NPL', 'Q16610_EPHA', 'P02741_AAL', 'Q14966_EPHA', 'P02671_EPHA', 'P08185_AAL', 'P33981_AAL', 'P35858_AAL', 'Q16610_AAL', 'Q08380_NPL', 'P35858_NPL', 'P02760_AAL', 'P25311_EPHA', 'Q14966_NPL', 'P12259_JAC', 'Q9H8K7_AAL', 'P07996_EPHA', 'O75636_AAL', 'P13671_AAL', 'Gender', 'P01012_AAL', 'Comment', 'P33151_JAC', 'P02647_EPHA', 'Treatment Type & Date', 'O75636_JAC', 'P33981_JAC', 'P55058_EPHA', 'P29622_JAC', 'collectiondate', 'Q96IY4_NPL', 'P32119_NPL', 'consentdate', 'Sample Type (Progressor/Non-progressor)', 'P13671_EPHA', 'Collected Date', 'P02741_JAC', 'City of collection', 'P33981_EPHA', 'Q7Z7A1_AAL', 'Q14966_AAL', 'Q96IY4_AAL', 'P19652_NPL', 'P12259_AAL', 'P02647_AAL', 'P05090_NPL', 'P02649_JAC', 'Q96PD5_JAC', 'P35858_EPHA', 'Q96IY4_JAC', 'P07996_JAC', 'Q7Z7A1_JAC', 'P00736_JAC', 'Hospital collected', 'Assay ID', 'Race', 'P55058_NPL', 'P05090_JAC', 'P32119_JAC', 'Dx (Per Path); highest recorded', 'Q14520_EPHA', 'Diagnosis When Sample Was Taken (Per Path)', 'Q14520_AAL', 'Q15166_NPL', 'P02774_EPHA', 'Q14520_JAC', 'P08185_EPHA', 'P08519_JAC', 'P02649_EPHA', 'P02750_AAL', 'P12259_NPL', 'P01012_JAC', 'P19652_JAC', 'PNUM', 'P02647_NPL', 'Q7Z7A1_NPL', 'Q14520_NPL', 'O75636_EPHA', 'weight', 'On Acid Supp Regimen?', 'Q08380_AAL', 'P01008_NPL', 'P07225_AAL', 'P07225_NPL', 'P05090_EPHA', 'P02753_NPL', 'P36955_AAL', 'Q5T011_JAC', 'Treatment naïve', 'P55058_JAC', 'Q16610_NPL', 'gender', 'P02745_AAL', 'Q08380_EPHA', 'P02675_EPHA', 'P07225_JAC', 'P00734_EPHA', 'Q96IY4_EPHA', 'Q96PD5_EPHA', 'P02675_NPL', 'P02647_JAC', 'Q08380_JAC'}

In [ ]:
for col in diff_cols:
  if col in PN_raw.columns:
    PN_raw = PN_raw.drop(columns=col)
PN_raw.head(2)

,Patient Group,O95445_AAL,P00450_AAL,P00734_AAL,P00736_AAL,P00738_AAL,P00747_AAL,P00748_AAL,P00751_AAL,P01008_AAL,...,P01011_NLAVSQVVHK_Ratio_NPL,P01023_LPPNVVEESAR_Ratio_NPL,P02748_LSPIYNLVPVK_Ratio_NPL,P04114_SPAFTDLHLR_Ratio_NPL,P06396_AVEVLPK_Ratio_NPL,P0C0L5_GSFEFPVGDAVSK_Ratio_NPL,P10643_LTPLYELVK_Ratio_NPL,Protein (μg/μL),Age at Collection,BMI (kg/m2)
0,BE-LGD,190246.4723,731790.8471,51185.55315,99026.39829,17511369.52,1281657.844,146252.4045,424532.4302,211660.5041,...,0.350472,1.021711,1.009847,2.098434,1.017160,0.434495,1.237117,79.431861,64,NaN
1,NSE,259245.1390,729337.2285,59015.99648,108490.75600,16696711.48,1356981.217,147436.0885,449091.9729,171866.0975,...,0.418402,0.824941,1.033205,4.127104,1.085205,0.724996,1.840604,76.910367,57,29.8

In [ ]:
for col in diff_cols:
  if col in CB_raw.columns:
    CB_raw = CB_raw.drop(columns=col)
CB_raw.head(2)

,Patient Group,O95445_AAL,P00450_AAL,P00734_AAL,P00736_AAL,P00738_AAL,P00747_AAL,P00748_AAL,P00751_AAL,P01008_AAL,...,P01011_NLAVSQVVHK_Ratio_NPL,P01023_LPPNVVEESAR_Ratio_NPL,P02748_LSPIYNLVPVK_Ratio_NPL,P04114_SPAFTDLHLR_Ratio_NPL,P06396_AVEVLPK_Ratio_NPL,P0C0L5_GSFEFPVGDAVSK_Ratio_NPL,P10643_LTPLYELVK_Ratio_NPL,Protein (μg/μL),Age at Collection,BMI (kg/m2)
0,EAC,231901.565681,531675.915634,130229.593177,4.574278e+07,7.427876e+07,1.399114e+06,62766.439036,8.785951e+06,1.865353e+06,...,7.211425,2.030060,3.138630,6.545236,2.455497,1.362097,3.987969,65.497680,63.0,31.46
1,BE-ID,225768.925899,392680.876091,147433.340040,4.629934e+07,3.240003e+07,1.193564e+06,56995.901230,8.329383e+06,2.990847e+06,...,7.239512,5.897053,3.089863,6.585498,4.543369,0.778761,2.623578,68.052035,69.0,41.40

In [ ]:
# CB Data Cleaning
CB_df = CB_raw
# Drop null rows
CB_df = CB_df.dropna()

In [ ]:
CB_df = CB_df.rename(columns={'Dx (Per Path); highest recorded': 'Dx highest recorded', 'Diagnosis When Sample Was Taken (Per Path)': 'Diagnosis when sample was taken'})

In [ ]:
# Drop the Columns Lectin EPHA, heavy_ALL, Collected Date, Treatment Type & Date, Treatment naïve, Comment, DX (Per Path); highest recorded, Diagnosis When Sample Was Taken (Per Path), Comorbidities
CB_df = CB_df.loc[:, ~CB_df.columns.str.contains('Unnamed:0|EPHA|heavy_AAL|Collected Date|Treatment Type & Date|Treatment naïve|Comment|Dx highest recorded|Diagnosis when sample was taken|Comorbidities')]
CB_df.head()

,Unnamed: 0,Patient Group,O75636_AAL,O95445_AAL,P00450_AAL,P00734_AAL,P00736_AAL,P00738_AAL,P00747_AAL,P00748_AAL,...,P04114_SPAFTDLHLR_Ratio_NPL,P06396_AVEVLPK_Ratio_NPL,P0C0L5_GSFEFPVGDAVSK_Ratio_NPL,P10643_LTPLYELVK_Ratio_NPL,Protein (μg/μL),Gender,Age at Collection,Race,BMI (kg/m2),On Acid Supp Regimen?
0,CB10001,EAC,2.499187e+06,231901.565681,531675.915634,130229.593177,4.574278e+07,7.427876e+07,1.399114e+06,62766.439036,...,6.545236,2.455497,1.362097,3.987969,65.497680,M,63.0,Caucasian,31.46,Y
1,CB10002,BE-ID,2.828146e+06,225768.925899,392680.876091,147433.340040,4.629934e+07,3.240003e+07,1.193564e+06,56995.901230,...,6.585498,4.543369,0.778761,2.623578,68.052035,F,69.0,Caucasian,41.40,Y
2,CB10003,NSE,3.885362e+06,317408.869810,624661.826663,166048.185854,5.879864e+07,3.151861e+07,2.006994e+06,66677.865179,...,11.655492,4.471990,0.821500,2.668353,72.455779,F,54.0,Caucasian,30.04,Y
3,CB10004,BE,2.980757e+06,196448.722270,383654.430349,81930.599409,4.418331e+07,1.274380e+07,1.121787e+06,47417.392161,...,6.028578,3.230195,0.731139,1.341246,68.811932,M,55.0,Caucasian,30.26,Y
4,CB10006,BE,5.082784e+06,513410.263339,665023.074428,168785.312885,8.292568e+07,3.314564e+07,2.811941e+06,96794.597616,...,10.891096,9.083470,1.226545,4.634702,54.474587,M,68.0,Caucasian,30.40,Y

In [ ]:
# Dropped un-named column which contained the cohort number (cohort instead referenced in dataframe name)
CB_df = CB_df.iloc[:, 1:]
CB_df.head()

,Patient Group,O75636_AAL,O95445_AAL,P00450_AAL,P00734_AAL,P00736_AAL,P00738_AAL,P00747_AAL,P00748_AAL,P00751_AAL,...,P04114_SPAFTDLHLR_Ratio_NPL,P06396_AVEVLPK_Ratio_NPL,P0C0L5_GSFEFPVGDAVSK_Ratio_NPL,P10643_LTPLYELVK_Ratio_NPL,Protein (μg/μL),Gender,Age at Collection,Race,BMI (kg/m2),On Acid Supp Regimen?
0,EAC,2.499187e+06,231901.565681,531675.915634,130229.593177,4.574278e+07,7.427876e+07,1.399114e+06,62766.439036,8.785951e+06,...,6.545236,2.455497,1.362097,3.987969,65.497680,M,63.0,Caucasian,31.46,Y
1,BE-ID,2.828146e+06,225768.925899,392680.876091,147433.340040,4.629934e+07,3.240003e+07,1.193564e+06,56995.901230,8.329383e+06,...,6.585498,4.543369,0.778761,2.623578,68.052035,F,69.0,Caucasian,41.40,Y
2,NSE,3.885362e+06,317408.869810,624661.826663,166048.185854,5.879864e+07,3.151861e+07,2.006994e+06,66677.865179,8.918962e+06,...,11.655492,4.471990,0.821500,2.668353,72.455779,F,54.0,Caucasian,30.04,Y
3,BE,2.980757e+06,196448.722270,383654.430349,81930.599409,4.418331e+07,1.274380e+07,1.121787e+06,47417.392161,6.726070e+06,...,6.028578,3.230195,0.731139,1.341246,68.811932,M,55.0,Caucasian,30.26,Y
4,BE,5.082784e+06,513410.263339,665023.074428,168785.312885,8.292568e+07,3.314564e+07,2.811941e+06,96794.597616,1.307532e+07,...,10.891096,9.083470,1.226545,4.634702,54.474587,M,68.0,Caucasian,30.40,Y

In [ ]:
protein_cols = [col for col in CB_df.columns if col.endswith(('JAC', 'AAL', 'NPL'))]
df_protein = CB_df[protein_cols]
df_other = CB_df.drop(columns=protein_cols)

print("Protein columns data types:")
print(df_protein.dtypes)

print("\nOther columns data types:")
print(df_other.dtypes)

Protein columns data types:
O75636_AAL                        float64
O95445_AAL                        float64
P00450_AAL                        float64
P00734_AAL                        float64
P00736_AAL                        float64
                                   ...
P02748_LSPIYNLVPVK_Ratio_NPL      float64
P04114_SPAFTDLHLR_Ratio_NPL       float64
P06396_AVEVLPK_Ratio_NPL          float64
P0C0L5_GSFEFPVGDAVSK_Ratio_NPL    float64
P10643_LTPLYELVK_Ratio_NPL        float64
Length: 276, dtype: object

Other columns data types:
Patient Group             object
Protein (μg/μL)          float64
Gender                    object
Age at Collection        float64
Race                      object
BMI (kg/m2)              float64
On Acid Supp Regimen?     object
dtype: object

In [ ]:
cols_to_encode = ['Gender', 'Race', 'On Acid Supp Regimen?']
CB_df = pd.get_dummies(CB_df, columns=cols_to_encode)

In [ ]:
CB_df.head()

,Patient Group,O75636_AAL,O95445_AAL,P00450_AAL,P00734_AAL,P00736_AAL,P00738_AAL,P00747_AAL,P00748_AAL,P00751_AAL,...,Protein (μg/μL),Age at Collection,BMI (kg/m2),Gender_F,Gender_M,Race_African American,Race_Caucasian,Race_Hispanic/Latino,On Acid Supp Regimen?_N,On Acid Supp Regimen?_Y
0,EAC,2.499187e+06,231901.565681,531675.915634,130229.593177,4.574278e+07,7.427876e+07,1.399114e+06,62766.439036,8.785951e+06,...,65.497680,63.0,31.46,0,1,0,1,0,0,1
1,BE-ID,2.828146e+06,225768.925899,392680.876091,147433.340040,4.629934e+07,3.240003e+07,1.193564e+06,56995.901230,8.329383e+06,...,68.052035,69.0,41.40,1,0,0,1,0,0,1
2,NSE,3.885362e+06,317408.869810,624661.826663,166048.185854,5.879864e+07,3.151861e+07,2.006994e+06,66677.865179,8.918962e+06,...,72.455779,54.0,30.04,1,0,0,1,0,0,1
3,BE,2.980757e+06,196448.722270,383654.430349,81930.599409,4.418331e+07,1.274380e+07,1.121787e+06,47417.392161,6.726070e+06,...,68.811932,55.0,30.26,0,1,0,1,0,0,1
4,BE,5.082784e+06,513410.263339,665023.074428,168785.312885,8.292568e+07,3.314564e+07,2.811941e+06,96794.597616,1.307532e+07,...,54.474587,68.0,30.40,0,1,0,1,0,0,1